.explore_section {
  .container {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 865px;
    height: 100%;
    padding-bottom: 72px;
    padding-top: 75px;
    transition: 0.5s ease;
    .content_explore {
      margin-right: 15px;
      max-width: 660px;
      width: 100%;
    }
    .mark {
      color: $light-gold-color;
      background: none;
    }
    p:first-of-type {
      margin-top: 74px;
    }
    p {
      padding-top: 30px;
    }
    .images_explore {
      position: relative;
      display: flex;
      max-width: 720px;

      width: 100%;
      height: 700px;
      max-height: 100%;
      min-height: 100%;
      margin-top: 15px;
      overflow: hidden;

      z-index: 1;
      .explore_before {
        background-image: url("/src/assets/img/explore-slider/after.jpeg");
        position: relative;
        width: 100%;
        height: 100%;
        top: 0px;
      }
      .explore_after {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: url("/src/assets/img/explore-slider/before.jpeg");
        z-index: 2;
      }
      #explore_range {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        -webkit-appearance: none;
        z-index: 3;
      }
      #explore_range::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        display: block;
        width: 5px;
        height: 700px;
        max-height: 100%;
        min-height: 100%;
        background-color: #fff;
        cursor: pointer;
      }
      #explore_range::-webkit-slider-thumb {
        content: "";
        -webkit-appearance: none;
        position: absolute;
        top: 47%;
        left: 47.4%;
        width: 27px;
        background-color: rgba(0, 0, 0, 0.959);
        height: 27px;
        border-radius: 50%;
        border: 5px solid #fff;
        z-index: 3;
        cursor: pointer;
      }
      #explore_range::-webkit-slider-thumb:active {
        background-color: $gold-color;
        transition: all 0.3s ease-in-out;
      }
      // height: 700px;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   background-image: linear-gradient(
      //     to left,
      //     rgba(0, 0, 0, 0),
      //     rgba(0, 0, 0, 1) 20%
      //   );
      // }
      // .gradient_explore {
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 440px;
      // }
      // .gradient_explore::after {
      //   content: "";
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background: transparent;
      //   background-image: linear-gradient(
      //     to left,
      //     rgba(0, 0, 0, 0),
      //     rgba(0, 0, 0, 1) 100%
      //   );
      // }
      // .gallery_resize,
      // .gallery_resize:after {
      //   position: absolute;
      //   top: 0;

      // }
      // .gallery_resize {
      //   left: 0;
      //   width: 50%;

      //   overflow: hidden;
      // }
      // .slide_img_explore {
      //   display: block;
      //   max-width: 720px;

      // }
      // .explore_slider {
      //   position: absolute;
      //   top: 0;

      //   right: 47%;
      //   width: 39px;

      //   height: 100%;
      //   outline: none;
      //   cursor: pointer;
      //   transition: 0.4s;
      // }
      // .gallery_resize:after {
      //   content: '';

      //   position: absolute;
      //   top: 0;
      //   cursor: pointer;
      // }
      // .explore_slider:hover,
      // .explore_slider:focus,
      // .explore_slider:hover::before,
      // .explore_slider:focus::before {
      //   filter: invert(55%) sepia(32%) saturate(355%) hue-rotate(356deg)
      //     brightness(92%) contrast(90%);
      //   outline: none;
      // }
    }
  }
}
@media (max-width: 1430px) {
  .explore_section .container {
    justify-content: center;

    .content_explore {
      max-width: 984px;
      width: 100%;
      margin-right: 0;
      br {
        display: none;
      }
    }
    p:first-of-type {
      margin-top: 77px;
    }
    p {
      padding-top: 0;
    }

    .images_explore {
      margin-top: 46px;
    }
  }
}
@media (max-width: 1427px) {
  .explore_section .container {
    align-items: center;
    justify-content: center;
    // margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .explore_section .container {
    padding-top: 53px;
    padding-bottom: 60px;

    .content_explore {
      max-width: 984px;
      width: 100%;
      margin-right: 0;
      br {
        display: none;
      }
    }
    p:first-of-type {
      margin-top: 77px;
    }
    p {
      padding-top: 0;
    }
    p:last-of-type {
      display: none;
    }
    .images_explore {
      margin-top: 46px;
    }
  }
}
@media (max-width: 768px) {
  .explore_section .container {
    padding-top: 26px;
    padding-bottom: 36px;
    .title_underline::after {
      bottom: -7px;
    }
    p {
      display: none;
    }
    .images_explore {
      margin-top: 34px;
      max-width: 725px;
      overflow: hidden;
      img {
        width: 725px;
      }
      .gradient_explore {
        width: 443px;
      }
      .explore_slider {
        position: absolute;
        top: 0px;
        right: 266px;
        width: 39px;
        max-height: 704px;
        bottom: 0;
      }
    }
  }
}
@media (max-width: 420px) {
  .explore_section .container {
    padding-top: 17px;
    padding-bottom: 38px;
    .title_underline::after {
      bottom: 3px;
    }
    .images_explore {
      margin-top: 20px;
      max-width: 380px;
      img {
        width: 380px;
      }
      .gradient_explore {
        width: 230px;
      }
      .explore_slider {
        top: 0px;
        right: 130px;
        width: 39px;
        max-height: 368px;
        bottom: 0;
      }
    }
  }
}
