.video_section {
  .container {
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 81px;
    .title_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .video_title {
        // margin-left: 25px;
      }
      .description {
        max-width: 720px;
        line-height: 38px;
      }
    }
    .video_container {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      .video_wrapper {
        position: relative;
        display: flex;
        margin-top: 34px;

        .btn_play {
          position: absolute;
          max-width: 220px;
          width: 100%;
          margin: 0;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        .video_great {
          max-width: 1440px;
          width: 100%;
        }
      }
      .control_panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 85px;
        background-color: $black_color;
        gap: 0 15px;
        .panel_play {
          margin-left: 15px;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        .progress {
          background: linear-gradient(
            to right,
            $brown-color 0%,
            $brown-color 40%,
            $gray_color 40%,
            $gray_color 100%
          );
          height: 8px;
          width: 400px;
          outline: none;
          transition: background 450ms ease-in;
          -webkit-appearance: none;
          // max-width: 929px;
        }

        .progress::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          -webkit-appearance: none;
          cursor: pointer;
          background: $white-color;
        }
        .progress_video {
          max-width: 929px;
          width: 100%;
        }
        .progress_audio {
          max-width: 155px;
          width: 100%;
        }
        .volume_btn {
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
        .fullscreen {
          margin-right: 13px;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
    .video {
      border: none;
    }
    .video_slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      gap: 0 42px;
      transition: 1s ease;
      .small_video {
        max-width: 452px;
        width: 100%;
        height: 254px;
      }
    }
    .dots_arrow {
      padding-top: 47px;
      width: 200px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
    .arrow_video {
      display: flex;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .video_carusel_dots {
      background-color: #999999;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      &:hover {
        cursor: pointer;
        background-color: $brown-color;
        // background-color: #333333;
      }
    }
    .video_carusel_dots.active {
      background-color: #333333;
    }
  }
}
@media (max-width: 1080px) {
  .video_section .container {
    .video_slider .small_video {
      max-width: 452px;
      width: 100%;
      height: 171px;
    }
  }
}
@media (max-width: 1024px) {
  .video_section .container {
    padding-top: 51px;
    padding-bottom: 64px;
    .video_slider {
      margin-top: 40px !important;
      gap: 0 40px !important;
      width: 100%;
    }
    .title_container {
      p {
        display: none;
      }
    }
    .video_container {
      margin-top: -3px;
      .video_wrapper .btn_play {
        max-width: 153px;
      }
      .control_panel {
        height: 61px;
        img {
          width: 26px;
        }
        .progress {
          height: 5px;
        }
        .progress_video {
          width: 564px;
          width: 100%;
        }
        .progress_audio {
          width: 143px;
          width: 100%;
        }
        .panel_play {
          margin-left: 33px;
        }
        .fullscreen {
          margin-right: 31px;
        }
      }
    }
    .video_slider .small_video {
      max-width: 452px !important;
      width: 100% !important;
      height: 171px !important;
    }
    .small_video:last-of-type {
      display: block !important;
    }
  }
}
@media (max-width: 1111px) {
  .video_section .container {
    .video_slider {
      margin-top: 22px;
      gap: 0 21px;
      width: 100%;
      .small_video {
        max-width: 437px;
        width: 100%;
        height: 225px;
      }
      .small_video:last-of-type {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .video_section .container {
    padding-top: 25px;
    padding-bottom: 86px;
    overflow: hidden;
    .video_container {
      margin-top: -28px;
      .video_wrapper .btn_play {
        max-width: 79px;
      }
      .control_panel {
        position: relative;
        justify-content: space-between;
        height: 55px;
        .progress_video {
          position: absolute;
          top: -4px;
          width: 100%;
        }
        .progress_audio {
          max-width: 486px;
          width: 100%;
        }
        img {
          width: 24px;
        }
      }
    }
    .video_slider {
      margin-top: 22px !important;
      gap: 0 21px !important;
      width: 100%;
      .small_video {
        max-width: 354px !important;
        width: 100%;
        height: 199px !important;
      }
      .small_video:last-of-type {
        display: none !important;
      }
    }
    .dots_arrow {
      padding-top: 25px;
      width: 192px;
    }
    .video_carusel_dots {
      width: 10px;
      height: 10px;
    }
  }
}
@media (max-width: 667px) {
  .video_section .container {
    .video_slider {
      .small_video {
        max-width: 180px;
        width: 100%;
        height: 115px;
      }
    }
  }
}
@media (max-width: 420px) {
  .video_section .container {
    padding-top: 11px;
    padding-bottom: 46px;
    .video_container {
      margin-top: -38px;
      .video_wrapper .btn_play {
        max-width: 50px;
      }
      .control_panel {
        img {
          width: 16px;
        }
        .fullscreen {
          margin-right: 20px;
          margin-left: 14px;
        }
        .panel_play {
          margin-left: 21px;
          margin-right: 12px;
        }
        .progress::-webkit-slider-thumb {
          width: 10px;
          height: 10px;
        }
        .progress_audio {
          max-width: 200px;
          width: 100%;
          margin-left: 16px;
        }
      }
    }
    .video_slider {
      .small_video {
        max-width: 180px !important;
        width: 100%;
        height: 115px !important;
      }
    }
    .dots_arrow {
      padding-top: 45px;
      width: 176px;
    }
    .video_carusel_dots {
      width: 8px;
      height: 8px;
    }
  }
}
@media (max-width: 416px) {
  .video_section .container {
    .video_slider {
      .small_video {
        max-width: 161px;
        width: 100%;
        height: 90px;
      }
    }
  }
}
@media (max-width: 378px) {
  .video_section .container {
    .video_slider {
      .small_video {
        max-width: 143px;
        width: 100%;
        height: 79px;
      }
    }
  }
}
@media (max-width: 380px) {
  .video_section .container {
    .video_slider {
      .small_video {
        max-width: 123px;
        width: 100%;
        height: 79px;
      }
    }
  }
}
