.video_section {
  .container {
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 81px;
    .title_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .video_title {
        // margin-left: 25px;
      }
      .description {
        max-width: 720px;
        line-height: 38px;
      }
    }
    .video_container {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      .video_wrapper {
        position: relative;
        display: flex;
        margin-top: 34px;

        .btn_play {
          position: absolute;
          max-width: 220px;
          width: 100%;
          margin: 0;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        .video_great {
          max-width: 1440px;
          width: 100%;
        }
      }
      .control_panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 85px;
        background-color: $black_color;
        gap: 0 15px;
        .panel_play {
          margin-left: 15px;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        .progress {
          background: linear-gradient(
            to right,
            $brown-color 0%,
            $brown-color 40%,
            $gray_color 40%,
            $gray_color 100%
          );
          height: 8px;
          width: 400px;
          outline: none;
          transition: background 450ms ease-in;
          -webkit-appearance: none;
          // max-width: 929px;
        }

        .progress::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          -webkit-appearance: none;
          cursor: pointer;
          background: $white-color;
        }
        .progress_video {
          max-width: 929px;
          width: 100%;
        }
        .progress_audio {
          max-width: 155px;
          width: 100%;
        }
        .volume_btn {
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
        .fullscreen {
          margin-right: 13px;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
    .video {
      border: none;
    }
    .video_slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      gap: 0 42px;
      .small_video {
        max-width: 452px;
        width: 100%;
        height: 254px;
      }
    }
    .dots_arrow {
      padding-top: 47px;
      width: 200px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
    .arrow_video {
      display: flex;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .video_carusel_dots {
      background-color: #999999;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      &:hover {
        cursor: pointer;
        background-color: #333333;
      }
    }
    .video_carusel_dots.active {
      background-color: #333333;
    }
  }
}

@media (max-width: 1024px) {
  .video_section .container {
    padding-top: 51px;
    padding-bottom: 64px;
    .title_container {
      p {
        display: none;
      }
    }
    .video_container {
      margin-top: -3px;
      .video_wrapper .btn_play {
        max-width: 153px;
      }
      .control_panel {
        height: 61px;
        img {
          width: 26px;
        }
        .progress_video {
          max-width: 564px;
          width: 100%;
        }
        .progress_audio {
          max-width: 143px;
          width: 100%;
        }
        .panel_play {
          margin-left: 33px;
        }
        .fullscreen {
          margin-right: 31px;
        }
      }
    }
    .video_slider .small_video {
      max-width: 452px;
      width: 100%;
      height: 171px;
    }
  }
}
