.visiting_section {
  width: 100%;
}
.visiting_section .container {
  flex-direction: column;
  max-height: 1266px;
  height: 100%;
  padding-top: 75px;
  padding-bottom: 75px;

  .visiting_title {
    font-family: $font-family-forum;
  }
}
.virtual_gallery {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 15px;
  margin-top: 27px;
  // a {
  //   margin-top: 75px;
  // }
  // .card:hover {
  //   .underline_card::after {
  //     width: 100%;
  //   }
  // }
  .virtual_card {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 440px;
    height: 424px;
    margin-top: 76px;
    img {
      width: 100%;
    }
    .card_container {
      margin-top: 10px;
    }
    .subtitle_royal_place {
      font-style: normal;
      font-weight: normal;
      font-size: var(--font2);
      line-height: 35px;
      letter-spacing: 5px;
      text-transform: uppercase;
      // word-spacing: 4.5px;
    }
    .underline_card {
      position: relative;
      margin-bottom: 22px;

      transition: all 1s ease-out;
    }
    // .underline_card::after {
    //   content: "";
    //   position: absolute;
    //   bottom: -11px;

    //   left: 0;
    //   right: 10px;
    //   height: 2px;
    //   background-color: $brown-color;
    //   width: 300px;
    // }
    p {
      margin-top: 9px;
      font-style: normal;
      font-weight: 200;
      line-height: 26px;
      margin-bottom: -2px;
    }
    p:first-of-type {
      font-size: var(--font4);
    }
    p:last-of-type {
      font-size: var(--font5);
    }
  }
}

.card {
  position: relative;
  transition: all 1s ease-out;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 68px;
  left: 0;
  right: 10px;
  height: 2px;
  background-color: $brown-color;
  width: 300px;
  transition: all 1s ease-out;
}

.card:hover::after {
  width: 100%;
}
@media (max-width: 1300px) {
  .virtual_card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1380px) {
  .virtual_gallery {
    justify-content: space-evenly;

    .virtual_card {
      // justify-content: space-evenly;
      width: 330px;
      height: 345px;
    }
  }
}
@media (max-width: 1024px) {
  .visiting_section .container {
    padding-top: 54px;
    padding-bottom: 60px;
  }
  // .title_underline::after {

  //   bottom: -14px;

  // }
  .virtual_gallery {
    justify-content: space-evenly;
    margin-top: 14px;
    gap: 0;

    .virtual_card {
      // justify-content: space-evenly;
      width: 330px;
      height: 345px;
      margin-top: 60px;
      .underline_card {
        margin-bottom: 15px;
      }
      p {
        margin-top: 7px;
      }
      .subtitle_royal_place {
        letter-spacing: 3px;
      }
    }
  }
  .card::after {
    content: "";
    position: absolute;
    bottom: 61px;
    width: 149px;
  }
}
@media (max-width: 768px) {
  .visiting_section .container {
    padding-top: 25px;
    padding-bottom: 78px;
    .title_underline::after {
      bottom: -9px;
    }
    .virtual_gallery .virtual_card {
      width: 280px;
      height: 305px;
      margin-top: 35px;
    }
    .card::after {
      bottom: 63px;
    }
  }
}
