.welcome_section {
  width: 100%;
}
.welcome_section .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 810px;
  height: 52.8vw;
  // max-height: 842px;
  // min-height: 100%;
  // height: 811px;
  // padding-top: 150px;
  // padding-bottom: 153px;
  transition: 0.5s;
  .background_container {
    position: absolute;
    background-image: url("/src/assets/img/welcome-slider/1.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) calc(0% - 0px);
    width: 100%;
    height: 100%;
    background-size: 68%;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: 0.5s ease;
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      left: calc(100% - 70%);
      right: 0;
    }
  }

  .title_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 388px;
    width: 598px;
    z-index: 1;
    cursor: default;
    margin-bottom: 119px;
    .welcome_title {
      max-width: 598px;
      width: 100%;
    }
    .welcome_subtitle {
      font-family: $font-family-Roboto;
      font-style: normal;
      font-weight: 300;

      font-size: var(--font3);
      line-height: 33px;
      letter-spacing: 2px;
      margin-bottom: 52px;
    }
    .welcome_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $brown-color;
      width: 360px;
      height: 75px;
      border-radius: 10px;
      color: $white-color;
      font-family: $font-family-Roboto;
      font-weight: 300;
      font-size: var(--font4);
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 2px;
      transition: 0.5s ease;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
  .welcome_btn:hover {
    cursor: pointer;
    // opacity: 0.6;
    background-color: $gold-color;
  }
  .welcome_pagination {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 15px;
    background-color: $dark-color;
    width: 600px;
    height: 120px;
    z-index: 3;
    color: $white-color;
    padding: 0 75px;
    cursor: default;
    p {
      font-family: $font-family-Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: var(--font4);
      line-height: 40px;
      text-transform: uppercase;
      color: $white-color;
    }
    .img_number {
      margin-left: -2px;
      // margin: 0 10px;
    }
    .line_slider {
      margin-left: 9px;
      margin-right: 9px;
    }
    .zero_slider {
      margin-left: 2px;
    }
    .pagination_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 180px;
      width: 180%;
      margin-left: 33px;
      margin-right: 6px;
      // margin: 0 60px 0 55px;
    }
    .arrow_box {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 51px;
      margin-right: 3px;
    }
    .pagination_img {
      width: 16px;
      height: 16px;
      background-color: $white-color;
      margin-left: 25px;
      transition: background-color 0.4s ease;
      &:hover {
        cursor: pointer;
        background-color: $light-brown-color;
      }
    }
    .pagination_img.active {
      background-color: $light-brown-color;
    }
    .right_arrow,
    .left_arrow {
      width: 30px;
      margin-bottom: 4px;
      color: $white-color;
      transition: 0.4s ease;
      font-size: var(--font_arrow);
    }
    .right_arrow {
      margin-left: 20px;
      &:hover {
        cursor: pointer;
        color: $light-brown-color;
      }
    }
    .left_arrow {
      &:hover {
        cursor: pointer;
        color: $light-brown-color;
      }
    }
  }
  #fullscreen {
    display: block;
    border: none;
    position: absolute;
    left: -1000px;
    // position: absolute;
  }
}
@media all and (max-width: 1024px) {
  .welcome_section .container {
    // padding-top: 50px;
    // padding-bottom: 51px;
    height: 585px;
    .background_container {
      height: 57vw;
      background-position: calc(100% - 20px) calc(0% - 0px);
    }

    .title_container {
      margin-bottom: 95px;
      .welcome_subtitle {
        margin-bottom: 26px;
      }
      .welcome_btn {
        width: 300px;
        height: 60px;
        margin-bottom: 45px;
      }
    }
    .welcome_pagination {
      width: 700px;
      width: 100%;
      padding: 40px 70px 40px 224px;
      right: 20px;
      .pagination_img {
        width: 12px;
        height: 12px;
      }
      .num_box {
        margin-left: 17px;
      }
      .pagination_box {
        margin-left: 20px;
        margin-right: 5px;
      }
      .arrow_box {
        margin-left: 42px;
        margin-right: 20px;
      }
    }
  }
}
@media all and (max-width: 768px) {
  .welcome_section .container {
    height: 855px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .title_container {
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
      height: 294px;
      .welcome_title {
        text-align: center;
        line-height: 61px;
        margin-top: -6px;
      }
      .welcome_subtitle {
        margin-top: 18px;
        margin-bottom: 0;
      }
      .welcome_btn {
        display: none;
      }
    }
    .background_container {
      width: 100%;
      height: 100%;
      background-position: 50% calc(100% - 97px);
      background-size: 95%;
    }
    .background_container::after {
      content: "";
      position: absolute;
      background: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .welcome_pagination {
      width: 100%;
      padding: 0 142px 0 147px;
      width: calc(100% - 40px);
      height: 101px;
      .line_slider {
        margin-left: 15px;
      }
    }
  }
}
@media all and (max-width: 420px) {
  .welcome_section .container {
    height: 549px;
    .title_container .welcome_title {
      line-height: 41px;
      margin-top: 9px;
    }
    .background_container {
      background-position: 50% calc(100% - 78px);
      background-size: 91%;
    }
    .welcome_pagination {
      width: 100%;
      padding: 0 142px 0 147px;
      width: calc(100% - 40px);
      height: 78px;
      .num_box {
        margin-left: -22px;
      }
      .zero_slider {
        margin-left: 4px;
      }
      .img_number {
        margin-left: 0px;
      }
      .line_slider {
        margin-left: 2px;
      }
      .pagination_img {
        width: 7px;
        height: 7px;

        margin-left: 14px;
        margin-right: 0;
      }
      .arrow_box {
        margin-left: 23px;
        margin-right: 0px;
      }
    }
  }
}
