.setting_page {
  opacity: 1;
  position: relative;
  transition: 1s ease-in-out;
}
.setting_page.hidden_section {
  position: absolute;
  left: -150%;
  opacity: 0;
  z-index: -1;
}
.settings_wrapper {
  position: relative;
}
.container_settings {
  width: 100%;
}
.settings_card {
  background-color: var(--buttonColor);
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
.range_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.volumeline {
  background-color: #fff;
  width: 150px;
  height: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.volumeline.visible {
  opacity: 1;
}
.volumeline .progress_volume {
  background-color: var(--fontColor);
  width: 75%;
  height: 100%;
  transition: 0.25s;
}
.volume,
.time,
.volume_btn_off {
  background-repeat: no-repeat;
  background-size: contain;
}
.volume_btn_off {
  background-image: url("/src/assets/svg/volume-off.svg");

  width: 48px;
  height: 39px;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.volume_btn_on {
  background-image: url("/src/assets/svg/volume-on1.svg");
  background-size: cover;
  // width: 48px;
  // height: 39px;
  // opacity: 0.7;
  // transition: 0.3s ease-in-out;
  // &:hover {
  //   opacity: 1;
  // }
}

.container_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 15px;
  max-width: 350px;
  width: 100%;
}
.setting_btn {
  justify-content: center;
  margin: 0;
}

.timer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}
.timer_answer {
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.timer_answer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 24px;
  margin: 10px;
  .plus,
  .minus {
    width: 35px;
    height: 35px;
    border: 4px solid var(--fontColor);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 43px;
    opacity: 0.7;
    outline: none;
    user-select: none;
    transition: 0.3s ease-in-out;
  }
  .plus:hover,
  .minus:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
  position: relative;
  right: -26px;
  top: -7px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  color: var(--fontColor);
  border-color: var(--fontColor);
}
label {
  cursor: pointer;
}
.timer_wrapper input[type="checkbox"]:checked ~ .timer_answer {
  opacity: 1;
}
@media (min-width: 340px) {
  .settings_title {
    position: absolute;
    right: 15px;
    top: -33px;
  }
  .container_settings {
    gap: 15px;
    margin-top: 27px;
  }
  .settings_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 16px;
    height: 204px;
    h2 {
      position: relative;
      right: 0;
      text-align: center;
      right: 0;
    }
  }

  .volume {
    background-image: url("/src/assets/svg/volume-on.svg");
    width: 67px;
    height: 52px;
  }
  .time {
    background-image: url("/src/assets/svg/time.svg");

    width: 57px;
    height: 64px;
  }
  .container_btn {
    margin: 25px 0 32px;
  }
}
@media (min-width: 768px) {
  .settings_title {
    position: relative;
    top: 0;
    right: 0;
    padding: 15px 0 20px;
  }
  .container_settings {
    gap: 20px;
    margin-top: 0;
  }
  .settings_card {
    padding: 40px 0 24px;
    height: 320px;
  }

  .volume {
    height: 81px;
    width: 100px;
  }
  .time {
    width: 85px;
    height: 100px;
  }
  .container_btn {
    margin: 49px 0 30px;
  }
}
@media (min-width: 1000px) {
  .settings_title {
    padding: 21px;
  }

  .settings_card {
    padding: 89px 0 55px;
    height: 415px;
  }
}
