@charset "UTF-8";
@font-face {
  font-family: "Steppe";
  src: url("../assets/font/Steppe.otf");
}
@font-face {
  font-family: Neucha-Regular;
  src: url("../assets/font/Neucha-Regular.woff");
}
:root {
  --font-steppee: "Steppe", Georgia;
  --font-neucha: "Neucha", cursive;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-steppee);
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
button {
  font-family: var(--font-neucha);
}

.main-page__button,
.reset-button,
.popup-btn,
.count-select,
.memory-button,
.lang,
.save-btn,
.reset-treeBtn {
  border: 3px solid #278d9f;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  user-select: none;
  letter-spacing: 2.5px;
  font-weight: 600;
  font-size: 18px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.main-page__button:hover,
.main-page__button .count-select:hover,
.reset-button:hover,
.reset-button .count-select:hover,
.popup-btn:hover,
.popup-btn .count-select:hover,
.count-select:hover,
.count-select .count-select:hover,
.memory-button:hover,
.memory-button .count-select:hover,
.lang:hover,
.lang .count-select:hover,
.save-btn:hover,
.save-btn .count-select:hover,
.reset-treeBtn:hover,
.reset-treeBtn .count-select:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: #278d9f;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

.header__container,
.footer__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #192f2d;
  width: auto;
  height: 70px;
  z-index: 1;
}

.main {
  position: relative;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  height: calc(100vh - 140px);
}

.rs-icon {
  width: 70px;
}

.fa-github {
  font-size: 20px;
}

.footer-logo {
  padding: 5px;
  color: #fff;
  margin-left: 20px;
  transition: 0.4s ease-in-out;
}
.footer-logo:hover {
  cursor: pointer;
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.main-page.hidden,
.nav__container.hidden,
.toys-page.hidden {
  position: absolute;
  opacity: 0;
  top: -9999px;
  left: -9999px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #7a7979a9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background: var(--answerColor);
  border-radius: 8px;
  border: 1px solid #222222a9;
}

.main-page {
  position: relative;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.main-page__title {
  display: block;
  padding: 35px 45px;
  text-align: center;
  font-weight: 400;
  border: 3px solid #278d9f;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  z-index: 2;
  transition: 0.4s ease-in-out;
}
.main-page__title span {
  display: block;
  width: 100%;
}

.main-page__ball {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-page__ball::before {
  content: "";
  position: absolute;
  background-color: #aaa;
}

.main-page__button {
  padding: 10px 67px;
  margin-top: 50px;
}

.main-page__ball-small {
  width: 300px;
  height: 300px;
  left: calc(50% + 150px);
  top: 150px;
  background-image: url("../assets/ball/2.png");
}
.main-page__ball-small::before {
  top: -205px;
  left: calc(50% - 32px);
  width: 4px;
  height: 210px;
  width: 5px;
}

.main-page__ball-big {
  width: 500px;
  height: 500px;
  left: calc(50% - 550px);
  top: 150px;
  background-image: url("../assets/ball/1.png");
}

.main-page__ball-big::before {
  top: -210px;
  left: calc(50% - 47px);
  width: 4px;
  height: 220px;
  width: 5px;
}

.reset-button {
  padding: 5px 30px;
}

.lang {
  padding: 9px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  user-select: none;
  transition: 0.4s ease-in-out;
  position: absolute;
  right: 35px;
  top: 35px;
}

.nav,
.nav__container,
.nav__menu,
.nav__search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__logo {
  display: block;
  width: 48px;
  height: 60px;
  background-image: url("../assets/svg/tree.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.nav__logo:hover {
  cursor: pointer;
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
  transform: rotateY(360deg);
}

.nav__menu {
  width: 185px;
  margin-left: 20px;
}
.nav__menu .nav__switch {
  position: relative;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.nav__menu .nav__switch:hover {
  color: #278d9f;
}

.switch-toy_active::after,
.switch-tree_active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #278d9f;
  width: 100%;
  transition: 0.4s ease-in-out;
}

.nav__search-container {
  width: 290px;
}

.nav__search {
  position: relative;
  width: 232px;
  height: 40px;
  padding: 5px 6px 5px 30px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #278d9f;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url("../assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 7px center;
  backdrop-filter: blur(6px);
  outline: none;
  transition: 0.3s;
}

.nav__search_active {
  background: none;
}

.nav__select {
  width: 48px;
  height: 60px;
  background-image: url("../assets/svg/ball-2.svg");
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.nav__select span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #278d9f;
  text-shadow: black 0.1em 0.1em 0.2em;
  transition: 0.3s ease-in-out;
}
.nav__select span:hover {
  cursor: pointer;
  color: #fff;
}

.toys-page {
  height: 100%;
}

.toys-page__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toys-page__controls {
  height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  transition: 0.3s ease-in-out;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls h2 {
  margin: 0;
  padding: 7px 0;
}

.controls__items,
.controls__years,
.controls__sort {
  flex-direction: column;
  align-items: flex-start;
}

.controls__favorite {
  justify-content: start;
}
.controls__favorite input {
  margin-left: 20px;
}

.sort {
  width: 240px;
  outline: none;
  appearance: none;
  border: 0;
  outline: 0;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url("../assets/svg/arrow-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 213px center;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278d9f;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  padding: 5px 9px;
}
.sort option {
  color: inherit;
  background-color: #183e42;
}

.form-toy,
.toy-size {
  width: 43px;
  height: 43px;
  cursor: pointer;
  padding: 4px;
  transition: 0.3s ease-in-out;
}
.form-toy:hover,
.toy-size:hover {
  transform: scale(1.1);
}

.toy-size:first-of-type {
  width: 50px;
  height: 50px;
}

.toy-size:last-of-type {
  width: 30px;
  height: 30px;
}

.form-toy.active,
.toy-size.active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.controls__size-toys,
.controls__colors-toys {
  display: inherit;
  width: 200px;
}

.toys-wrapper {
  position: relative;
  height: calc(100vh - 150px);
  width: 100%;
  margin: 5px 10px 5px 0;
  padding: 20px 15px;
  transition: 0.4s ease-in-out;
}

.toys-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("https://open.spbstu.ru/wp-content/uploads/2019/01/arrow_down_white.png");
  width: 100%;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: invert(14%) sepia(7%) saturate(2768%) hue-rotate(125deg) brightness(93%) contrast(91%);
  animation: arrow 1s infinite;
  animation-delay: -0.5s;
}

.no-arrow::after {
  content: "";
  position: absolute;
  background: none;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(8px);
  }
}
.toys-container {
  position: relative;
  margin-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  overflow: auto;
  padding: 10px 0 46px;
  transition: 1s ease-in-out;
}

.toys-container::-webkit-scrollbar {
  display: none;
}

.toy-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 290px;
  height: 280px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #278d9f;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  user-select: none;
  cursor: pointer;
  transition: 0.4s ease-in-out !important;
}
.toy-card:hover {
  background-color: rgba(15, 53, 59, 0.3);
}

.toy-card__title {
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.toy-card__description {
  font-size: 17px;
}

.toy-card__image {
  width: 91px;
  height: 137px;
  object-fit: contain;
  pointer-events: none;
  padding: 5px;
}

.toy-card__like {
  position: absolute;
  background-image: url("https://cdn11.bigcommerce.com/s-hii7479o/images/stencil/original/products/13138/31164/heart__21416.1558024297.png?c=2");
  left: 12px;
  bottom: 12px;
  width: 35px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  filter: invert(42%) sepia(92%) saturate(365%) hue-rotate(141deg) brightness(93%) contrast(87%);
}

.toy-card.active .toy-card__like {
  filter: invert(17%) sepia(71%) saturate(7459%) hue-rotate(1deg) brightness(91%) contrast(121%);
}

.favorite-toys {
  display: none;
}

.favorite-toys + label:before {
  content: "✔";
  color: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
  position: relative;
  right: -26px;
  top: 0;
  cursor: pointer;
}

.favorite-toys:checked + label:before {
  color: #fff;
  border-color: #24c5db;
}

label {
  cursor: pointer;
}

.toy-card.hidden {
  display: none;
}

.reset-button,
.memory-button {
  padding: 4px 5px;
  margin: 0 5px 6px;
  font-size: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-range {
  width: 45px;
  outline: none;
  padding: 3px;
  background-color: rgba(31, 112, 127, 0.3);
  border: 2px solid #278d9f;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
.input-range::placeholder {
  color: #fff;
}

#slider-years,
#slider-items {
  width: 95%;
  width: calc(100% - 17px);
  cursor: pointer;
}

.noUi-horizontal {
  height: 8.5px !important;
}

.noUi-horizontal .noUi-handle {
  width: 19px !important;
  height: 19px !important;
  border-radius: 50%;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none !important;
}

.noUi-connect {
  background: #278d9f !important;
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
}

.color-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #278d9f;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s ease-in-out;
}
.color-btn:hover {
  border: 2px solid #525050;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.controls__colors-toys .color-btn:nth-child(1) {
  background-color: #fff;
}

.controls__colors-toys .color-btn:nth-child(2) {
  background-color: #fdd700;
}

.controls__colors-toys .color-btn:nth-child(3) {
  background-color: #fd0000;
}

.controls__colors-toys .color-btn:nth-child(4) {
  background-color: #2199eb;
}

.controls__colors-toys .color-btn:nth-child(5) {
  background-color: #08aa05;
}

.color-btn.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.controls__colors-toys .color-btn:nth-child(1).active::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #363535;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.header {
  position: relative;
}

.popup-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  left: -500%;
  transition: 0.5s ease-in-out;
}

.popup-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 336px;
  min-height: 170px;
  border-radius: 10px;
  background-color: #bca5d2;
  top: 50%;
  left: 50%;
  width: max-content;
  padding: 20px 10px 60px;
  transform: translate(-50%, -50%);
}

.popup-title {
  font-size: 18px;
  font-weight: normal;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  max-width: 580px;
  max-height: 500px;
  overflow: auto;
  flex-wrap: wrap;
  padding: 10px;
}
.popup-title div {
  pointer-events: none;
  margin-top: 15px;
}

.popup-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 5px;
  width: 112px;
}
.popup-btn:hover {
  color: #1d555e;
}

.popup-wrapper.active {
  opacity: 1;
  left: 0;
}

.tree-page,
.tree-page__container {
  height: 100%;
}

.tree-page__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tree-settings,
.tree-container,
.user-tree-container {
  height: 99%;
}

.tree-settings,
.user-tree-container {
  width: 30%;
  margin: 4px 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
}

.tree-settings .controls {
  width: 100%;
  justify-content: space-evenly;
}

.tree-container {
  width: 40%;
}

.save-tree-container {
  height: 100%;
}

.controls-tree {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.tree-settings__garland {
  width: 100%;
}

.audio,
.snowflake {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.audio:hover,
.snowflake:hover {
  filter: invert(43%) sepia(74%) saturate(426%) hue-rotate(141deg) brightness(93%) contrast(89%);
}

.snowflake.active {
  filter: invert(43%) sepia(74%) saturate(426%) hue-rotate(141deg) brightness(93%) contrast(89%);
}

.audio {
  background-image: url("../assets/svg/mute.svg");
}

.audio.play {
  background-image: url("../assets/svg/audio.svg");
}

.snowflake {
  background-image: url("../assets/svg/snow.svg");
}

.tree-form-container,
.background-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.form:hover {
  background-color: #278d9fb8;
}

.form,
.background {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.form.active {
  background-color: #278d9fb8;
  opacity: 0.6;
}

.background {
  background-size: cover;
}
.background:hover {
  opacity: 0.4;
}

.background.active {
  opacity: 0.2;
}

.setting-title {
  margin: 0;
  padding: 8px 0;
  text-align: center;
}

.save-btn,
.reset-treeBtn {
  font-size: 14px;
  padding: 0px;
  width: 100px;
  margin: 2px;
  height: 44px;
}

.garland-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.color-garland {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 0;
  margin: 2px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.color-garland:hover {
  box-shadow: none;
  opacity: 0.3;
}

.color-garland.active {
  box-shadow: none;
  opacity: 0.3;
}

.btn-multicolor {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}

.btn-blue {
  background-color: #24e0ff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3f8cff 0 2px 14px;
}

.btn-red {
  background-color: #dc143c;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.btn-yellow {
  background-color: #ff0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #ff0 0 2px 12px;
}

.btn-green {
  background-color: #abff00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 8px;
}

.switch .checkbox {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkbox:checked + .slider {
  background-color: #24c5db;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #24c5db;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tree-container {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/bg/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s ease-in-out;
}

.snow {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
  font-size: 20px;
  color: #fff;
}

.fa-snowflake {
  position: absolute;
  top: -50px;
  animation: fall 10s linear forwards;
}

.hide {
  display: none;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
.user-tree {
  position: absolute;
  z-index: -1;
  max-width: 370px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}

.like-toys__wrapper {
  height: 103%;
  overflow-y: auto;
  width: 100%;
}

.like-toys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6px;
  width: 100%;
}

.user-toys {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60px;
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.user-toy__count {
  position: relative;
  left: 17px;
  z-index: 10;
  align-self: flex-end;
  width: 22px;
  height: 22px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  background-color: #24c5db;
  font-size: 14px;
  font-weight: 900;
}

.like-toys__contain {
  position: absolute;
  width: 100%;
  height: 100%;
}
.like-toys__contain .like-toys__img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  object-fit: contain;
  cursor: move;
}

.garland-tree-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.lightrope {
  display: flex;
  margin-bottom: 37px;
}
.lightrope li {
  background-color: #49e819;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 7px;
}

.lightrope li:nth-child(odd) {
  animation: glowing 1500ms infinite;
}

.lightrope li:nth-child(even) {
  animation: glowing 1000ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 1px 0 5px #fff;
    opacity: 0.1;
  }
  50% {
    box-shadow: 0 0 40px #fff;
    opacity: 0.5;
  }
  100% {
    box-shadow: 1px 0 5px #fff;
    opacity: 1;
  }
}
.lightrope li:nth-child(9),
li:nth-child(2) {
  transform: translateY(6px);
}

.lightrope li:nth-child(8),
li:nth-child(3) {
  transform: translateY(9px);
}

.lightrope li:nth-child(4),
li:nth-child(7) {
  transform: translateY(14px);
}

.lightrope li:nth-child(5),
li:nth-child(6) {
  transform: translateY(18px);
}

/*# sourceMappingURL=style.css.map */
