$font-family-forum: "Forum", cursive;
$font-family-Roboto: "Roboto Mono", monospace;

$brown-color: #710707;
$brown_light: #740C11;
$dark-color: #030303;
$white-color: #ffffff;
$light-brown-color: #d2b183;
$gold-color: #9d8665;
$light-gold-color: #caaa7d;
$black_color: #000000;
$gray_color: #c4c4c4;
$dark_gray_color: #666666;
// $white-color: #eeeaea
$black_lite_color:#272727;



.container {
  display: flex;
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
  width: 100%;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.title {
  font-family: $font-family-forum;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.title_dark,
.subtitle_dark {
  color: $white-color;
}

.title_light {
  color: $gold-color;
}
.subtitle {
  font-family: $font-family-Roboto;
}
.subtitle_light {
  color: $black_color;
}
.description {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.section_dark {
  background-color: $dark-color;
}
.section_light {
  background-color: $white-color;
}
.title_underline {
  position: relative;
}
.title_underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $brown-color;
}
h3 {
  font-family: $font-family-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: $black_color;
}


button{
  border: none;
  background: none;
}