.visiting_section {
  width: 100%;
}
.visiting_section .container {
  flex-direction: column;
  min-height: 1266px;
  height: 100%;
  padding-top: 75px;
  padding-bottom: 75px;

  .visiting_title {
    font-family: $font-family-forum;
  }
}
.virtual_gallery {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 15px;
  margin-top: 27px;
  // a {
  //   margin-top: 75px;
  // }
  // .card:hover {
  //   .underline_card::after {
  //     width: 100%;
  //   }
  // }
  .virtual_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 440px;
    height: 424px;
    margin-top: 76px;

    .card_container {
      margin-top: 10px;
    }
    .subtitle_royal_place {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 35px;
      letter-spacing: 3.1px;
      text-transform: uppercase;
      word-spacing: 4.5px;
    }
    .underline_card {
      position: relative;
      margin-bottom: 22px;

      transition: all 1s ease-out;
    }
    // .underline_card::after {
    //   content: "";
    //   position: absolute;
    //   bottom: -11px;

    //   left: 0;
    //   right: 10px;
    //   height: 2px;
    //   background-color: $brown-color;
    //   width: 300px;
    // }
    p {
      margin-top: 9px;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: -2px;
    }
  }
}
@media (max-width: 1300px) {
  .virtual_card {
    margin-left: auto;
    margin-right: auto;
  }
}
.card {
  position: relative;
  transition: all 1s ease-out;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 68px;
  left: 0;
  right: 10px;
  height: 2px;
  background-color: $brown-color;
  width: 300px;
  transition: all 1s ease-out;
}

.card:hover::after {
  width: 100%;
}
