.container {
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
  width: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-family: "Forum", cursive;
}

.title_dark, .subtitle_dark {
  color: #ffffff;
}

.title_light {
  color: #9d8665;
}

.subtitle {
  font-family: "Roboto Mono", monospace;
}

.subtitle_light {
  color: #000000;
}

.underline {
  color: #710707;
  margin-top: 25px;
}

.header {
  background-color: #030303;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  color: #ffffff;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 199px;
}
.logo_container:hover {
  opacity: 0.6;
}
.logo_container.logo {
  height: 26px;
  width: 49px;
}
.logo_container .logo_title {
  font-size: 28px;
  font-family: "Forum", cursive;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav_menu {
  width: 100%;
  max-width: 720px;
}
.nav_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu ul li a {
  padding: 3px;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 2px;
}
.nav_menu ul li:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.welcome_section {
  background-color: #030303;
  width: 100%;
}

.welcome_section .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/src/assets/img/mona-lisa1.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 810px;
}
.welcome_section .container .title_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 388px;
  width: 598px;
}
.welcome_section .container .title_container .welcome_title {
  max-width: 598px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.welcome_section .container .title_container .welcome_subtitle {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}
.welcome_section .container .title_container .welcome_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #710707;
  width: 360px;
  height: 75px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}
.welcome_section .container .welcome_pagination {
  position: absolute;
  bottom: 0;
  right: 15px;
  background-color: #030303;
  width: 600px;
  height: 120px;
  z-index: 3;
}

.visiting_section {
  background-color: #ffffff;
  width: 100%;
}

.visiting_section .container {
  height: 1266px;
  padding: 75px 0;
}
.visiting_section .container .visiting_title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  color: #9d8665;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.visiting_section .container .title_underline {
  border-bottom: 3px solid;
}

.virtual_gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.virtual_gallery .virtual_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 440px;
  height: 424px;
  margin-top: 75px;
}
.virtual_gallery .virtual_card .subtitle_royal_place {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.virtual_gallery .virtual_card .underline_card {
  margin-top: 10px;
  width: 300px;
  border-top: 2px solid;
}
.virtual_gallery .virtual_card p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}

/*# sourceMappingURL=style.css.map */
