.container {
  display: flex;
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
  width: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-family: "Forum", cursive;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title_dark,
.subtitle_dark {
  color: #ffffff;
}

.title_light {
  color: #9d8665;
}

.subtitle {
  font-family: "Roboto Mono", monospace;
}

.subtitle_light {
  color: #000000;
}

.description {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.section_dark {
  background-color: #030303;
}

.section_light {
  background-color: #ffffff;
}

.title_underline {
  position: relative;
}

.title_underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.header {
  background-color: #030303;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  color: #ffffff;
}

.logo_container {
  background-image: url("/src/assets/svg/Logo.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  width: 199px;
  height: 33px;
  margin-right: 25px;
}
.logo_container:hover {
  opacity: 0.6;
}
.logo_container .logo_title {
  font-size: 28px;
  font-family: "Forum", cursive;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-left: 74px;
}

.nav_menu {
  width: 100%;
  max-width: 720px;
}
.nav_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu ul li a {
  padding: 3px;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 2px;
}
.nav_menu ul li:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.welcome_section {
  width: 100%;
}

.welcome_section .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/src/assets/img/mona-lisa1.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 810px;
  padding-top: 32px;
}
.welcome_section .container .title_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 388px;
  width: 598px;
}
.welcome_section .container .title_container .welcome_title {
  max-width: 598px;
  width: 100%;
}
.welcome_section .container .title_container .welcome_subtitle {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}
.welcome_section .container .title_container .welcome_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #710707;
  width: 360px;
  height: 75px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}
.welcome_section .container .title_container .welcome_btn:hover {
  opacity: 0.9;
}
.welcome_section .container .welcome_btn:hover {
  opacity: 0.6;
  color: #9d8665;
}
.welcome_section .container .welcome_pagination {
  position: absolute;
  bottom: 0;
  right: 15px;
  background-color: #030303;
  width: 600px;
  height: 120px;
  z-index: 3;
}

.visiting_section {
  width: 100%;
}

.visiting_section .container {
  flex-direction: column;
  min-height: 1266px;
  height: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}
.visiting_section .container .visiting_title {
  font-family: "Forum", cursive;
}

.virtual_gallery {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 15px;
}
.virtual_gallery .virtual_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 440px;
  height: 424px;
  margin-top: 75px;
}
.virtual_gallery .virtual_card .subtitle_royal_place {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.virtual_gallery .virtual_card .underline_card {
  position: relative;
}
.virtual_gallery .virtual_card .underline_card::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 10px;
  height: 2px;
  background-color: #710707;
}
.virtual_gallery .virtual_card p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: 1300px) {
  .virtual_card {
    margin-left: auto;
    margin-right: auto;
  }
}
.explore_section .container {
  align-items: flex-start;
  justify-content: center;
  height: 865px;
  height: 100%;
  padding-bottom: 75px;
  padding-top: 75px;
}
.explore_section .container .content_explore {
  margin-right: 60px;
}
.explore_section .container .mark {
  color: #caaa7d;
  background: none;
}
.explore_section .container p:first-of-type {
  margin-top: 103px;
}
.explore_section .container p {
  padding-top: 25px;
}
.explore_section .container .images_explore {
  position: relative;
}
.explore_section .container .images_explore .gradient_explore {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
}
.explore_section .container .images_explore .gradient_explore::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black 100%);
}
.explore_section .container .images_explore img {
  width: 720px;
  margin-top: 15px;
}
.explore_section .container .images_explore .explore_slider {
  position: absolute;
  top: 0;
  right: 260px;
  width: 39px;
  height: 700px;
}

@media (max-width: 1024px) {
  .explore_section .container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .explore_section .container .content_explore {
    width: 100%;
    margin-right: 0;
  }
}
.video_section .container {
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.video_section .container .title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video_section .container .title_container .video_title {
  margin-left: 25px;
}
.video_section .container .title_container .description {
  max-width: 720px;
  line-height: 38px;
}
.video_section .container .video_container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.video_section .container .video_container .video_wrapper {
  position: relative;
  display: flex;
}
.video_section .container .video_container .video_wrapper .btn_play {
  position: absolute;
  max-width: 220px;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.video_section .container .video_container .video_wrapper .btn_play:hover {
  cursor: pointer;
  opacity: 0.7;
}
.video_section .container .video_container .video_wrapper .video_great {
  max-width: 1440px;
  width: 100%;
}
.video_section .container .video_container .control_panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #000000;
  gap: 0 15px;
}
.video_section .container .video_container .control_panel .panel_play {
  margin-left: 30px;
}
.video_section .container .video_container .control_panel .panel_play:hover {
  cursor: pointer;
  opacity: 0.7;
}
.video_section .container .video_container .control_panel .progress {
  background: linear-gradient(to right, #710707 0%, #710707 40%, #c4c4c4 40%, #c4c4c4 100%);
  border-radius: 8px;
  height: 8px;
  width: 400px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  max-width: 929px;
}
.video_section .container .video_container .control_panel .progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffffff;
}
.video_section .container .video_container .control_panel .progress_video {
  max-width: 929px;
  width: 100%;
}
.video_section .container .video_container .control_panel .progress_audio {
  max-width: 155px;
  width: 100%;
}
.video_section .container .video_container .control_panel .volume_btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.video_section .container .video_container .control_panel .fullscreen {
  margin-right: 25px;
}
.video_section .container .video_container .control_panel .fullscreen:hover {
  cursor: pointer;
  opacity: 0.7;
}

.gallery_section .container {
  flex-direction: column;
  padding-top: 75px;
  max-height: 2200px;
}
.gallery_section .container .gallery_container {
  position: relative;
  margin-top: 75px;
  overflow: hidden;
  max-height: 1960px;
  width: 100%;
}
.gallery_section .container .gallery_container::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/svg/gradient-gallery.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.gallery_section .container .gallery_container .gallery_inner_container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  columns: 3;
  max-height: 2850px;
  gap: 0 36px;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 100%;
}
.gallery_section .container .gallery_container .gallery_img {
  max-width: 456px;
  width: 100%;
  margin-bottom: 24px;
}

.tickets_section .container {
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 75px;
}
.tickets_section .container .tickets_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 103px;
}
.tickets_section .container .tickets_container img {
  max-width: 550px;
  width: 100%;
}
.tickets_section .container .tickets_form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 660px;
  width: 100%;
}
.tickets_section .container .radio_btn_container {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-right: 15px;
  width: 270px;
  width: 100%;
}
.tickets_section .container .radio_btn_container .title_form {
  margin-bottom: 50px;
}
.tickets_section .container .radio_btn_container div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.tickets_section .container .text_form {
  margin-left: 23px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.tickets_section .container .select_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  width: 175px;
  width: 100%;
}
.tickets_section .container .select_box .title_form {
  margin-bottom: 25px;
}
.tickets_section .container .select_box div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.tickets_section .container .select_box div .text_form {
  margin-left: 0;
  margin-bottom: 15px;
}
.tickets_section .container .select_box .title_form_price {
  margin: 50px 0 60px;
}
.tickets_section .container .select_box .form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  border-radius: 3px;
  background-color: #000000;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
.tickets_section .container .select_box .form_btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.parallax .container {
  width: 100%;
  height: 400px;
  background-image: url("/src/assets/img/parallax 1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contacts_section .container {
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 42px;
}
.contacts_section .container .title_contacts {
  font-weight: 500;
}
.contacts_section .container .contacts_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 103px;
}
.contacts_section .container .contacts_container .contacts {
  width: 282px;
  margin-right: 20px;
}
.contacts_section .container .contacts_container .contacts .title_contacts {
  margin-bottom: 50px;
}
.contacts_section .container .contacts_container .contacts .address,
.contacts_section .container .contacts_container .contacts p,
.contacts_section .container .contacts_container .contacts a {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 25px;
}
.contacts_section .container .contacts_container .contacts a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.footer .container {
  flex-direction: column;
}
.footer .container .footer_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 86px;
  padding-bottom: 50px;
}
.footer .container .footer_menu .footer_menu_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 703px;
  width: 100%;
}
.footer .container .footer_menu .footer_menu_container .footer_nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 363px;
  width: 100%;
}
.footer .container .footer_menu .footer_menu_container .footer_nav_menu ul {
  margin-left: 15px;
}
.footer .container .footer_menu .footer_menu_container .footer_nav_menu ul li {
  margin-bottom: 25px;
}
.footer .container .footer_menu .footer_menu_container .footer_nav_menu a {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer .container .footer_menu .footer_menu_container .footer_nav_menu a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.footer .container .footer_menu .footer_menu_container .social_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 340px;
  margin-left: 10px;
}
.footer .container .footer_menu .footer_menu_container .social_container .social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50%;
  margin-left: 25px;
  color: #ffffff;
}
.footer .container .footer_menu .footer_menu_container .social_container .social_icon .fab {
  color: #ffffff;
}
.footer .container .footer_menu .footer_menu_container .social_container .social_icon:hover {
  opacity: 0.7;
}
.footer .container .footer_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 52px;
}
.footer .container .footer_contacts p,
.footer .container .footer_contacts a {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer .container .footer_contacts a:hover {
  opacity: 0.7;
}
.footer .container .footer_underline {
  border-top: 3px solid #666666;
}

/*# sourceMappingURL=style.css.map */
