@font-face {
    font-family: 'Steppe';
    src: url('../assets/font/Steppe.otf');
}
@font-face {
    font-family: Neucha-Regular;
    src: url('../assets/font/Neucha-Regular.woff');
}
:root {
    --font-steppee: 'Steppe', Georgia;
    --font-neucha: 'Neucha', cursive;
}
* {
    box-sizing: border-box;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-steppee);
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
}
h1,
h2,
button {
    font-family: var(--font-neucha);
}
.main-page__button,
.reset-button,
.popup-btn,
.count-select,
.memory-button {
    border: 3px solid #278d9f;
    border-radius: 25px;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    user-select: none;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: 18px;

    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover,
    .count-select:hover {
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        color: #278d9f;
    }
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
.header__container,
.footer__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #192f2d;

    width: auto;
    height: 70px;
    z-index: 1;
}
.main {
    position: relative;
    // height: 100vh;
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: calc(100vh - 140px);
}
.rs-icon {
    width: 70px;
}
.fa-github {
    font-size: 20px;
}
.footer-logo {
    padding: 5px;
    color: #fff;
    margin-left: 20px;
    transition: 0.4s ease-in-out;
    &:hover {
        cursor: pointer;
        filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
    }
}

.main-page.hidden,
.nav__container.hidden,
.toys-page.hidden {
    position: absolute;
    opacity: 0;
    top: -9999px;
    left: -9999px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #7a7979a9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
    background: var(--answerColor);
    border-radius: 8px;
    border: 1px solid #222222a9;
}
