.color-btn {
    position: relative;
    width: 30px;
    height: 30px;

    border: 1px solid #278d9f;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s ease-in-out;
    &:hover {
        border: 2px solid rgb(82, 80, 80);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}
.controls__colors-toys .color-btn:nth-child(1) {
    background-color: #fff;
}
.controls__colors-toys .color-btn:nth-child(2) {
    background-color: #fdd700;
}
.controls__colors-toys .color-btn:nth-child(3) {
    background-color: #fd0000;
}
.controls__colors-toys .color-btn:nth-child(4) {
    background-color: #2199eb;
}
.controls__colors-toys .color-btn:nth-child(5) {
    background-color: #08aa05;
}

.color-btn.active::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
.controls__colors-toys .color-btn:nth-child(1).active::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid rgb(54, 53, 53);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
