.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
.input-range {
    width: 45px;
    outline: none;
    padding: 3px;
    background-color: rgba(31, 112, 127, 0.3);
    border: 2px solid #278d9f;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    &::placeholder {
        color: #fff;
    }
}
#slider-years,
#slider-items {
    width: 95%;
    width: calc(100% - 17px);
    cursor: pointer;
}

.noUi-horizontal {
    height: 8.5px !important;
}

.noUi-horizontal .noUi-handle {
    width: 19px !important;
    height: 19px !important;
    border-radius: 50%;
}
.noUi-handle::after,
.noUi-handle::before {
    display: none !important;
}
.noUi-connect {
    background: #278d9f !important;
}
.noUi-horizontal .noUi-handle {
    cursor: pointer;
}
