.nav,
.nav__container,
.nav__menu,
.nav__search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav__logo {
    display: block;
    width: 48px;
    height: 60px;
    background-image: url('../assets/svg/tree.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s ease-in-out;
    &:hover {
        cursor: pointer;
        filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
        transform: rotateY(360deg);
    }
}

.nav__menu {
    width: 185px;
    margin-left: 20px;
    .nav__switch {
        position: relative;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: #278d9f;
        }
    }
}
.switch-toy_active::after,
.switch-tree_active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #278d9f;
    width: 100%;
}
.nav__search-container {
    width: 290px;
}
.nav__search {
    position: relative;
    width: 232px;
    height: 40px;
    padding: 5px 6px 5px 30px;
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #278d9f;
    color: #fff;
    font-size: 18px;
    background-color: rgba(31, 112, 127, 0.3);
    background-image: url('../assets/svg/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 7px center;
    backdrop-filter: blur(6px);
    outline: none;
    transition: 0.3s;
}
.nav__search_active {
    background: none;
}
.nav__select {
    width: 48px;
    height: 60px;
    background-image: url('../assets/svg/ball-2.svg');
    background-size: 48px 60px;
    background-position: left -8px;
    background-repeat: no-repeat;
    transition: 0.3s;
    span {
        display: inline-block;
        min-width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 4px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        background-color: #278d9f;
        text-shadow: black 0.1em 0.1em 0.2em;
        transition: 0.3s ease-in-out;
        &:hover {
            cursor: pointer;
            color: #fff;
        }
    }
}
.lang {
    margin-left: 15px;
    padding: 3px;
    cursor: pointer;
    width: 36px;
    text-transform: uppercase;
    outline: none;
    user-select: none;
    transition: 0.4s ease-in-out;
    &:hover {
        color: #278d9f;
    }
}
