.nav {
    width: 100%;
}
.nav__logo {
    display: block;
    width: 48px;
    height: 60px;
    background-image: url('../assets/svg/tree.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s ease-in-out;
    &:hover {
        cursor: pointer;
        filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
        transform: rotateY(360deg);
    }
}
