.controls-tree {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.tree-settings__garland {
    width: 100%;
}
.audio,
.snowflake {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    &:hover {
        filter: invert(43%) sepia(74%) saturate(426%) hue-rotate(141deg) brightness(93%) contrast(89%);
    }
}

.snowflake.active {
    filter: invert(43%) sepia(74%) saturate(426%) hue-rotate(141deg) brightness(93%) contrast(89%);
}
.audio {
    background-image: url('../assets/svg/mute.svg');
}
.audio.play {
    background-image: url('../assets/svg/audio.svg');
}
.snowflake {
    background-image: url('../assets/svg/snow.svg');
}
.tree-form-container,
.background-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 300px;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.form,
.background {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.form {
    &:hover {
        opacity: 0.4;
    }
}
.form.active {
    opacity: 0.6;
    box-shadow: 0px 0px 0px 3px rgb(0 255 20);
}
.background {
    background-size: cover;
    &:hover {
        opacity: 0.4;
    }
}
.background.active {
    opacity: 0.6;
    box-shadow: 0px 0px 0px 3px rgb(0 255 20);
}

.setting-title {
    margin: 0;
    padding: 6px 0;
    text-align: center;
}
.save-btn,
.reset-treeBtn {
    font-size: 12px;
    padding: 0 5px;
    width: 100px;
    margin: 8px 5px;
    height: 40px;
}

.garland-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.color-garland {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 0;
    margin: 2px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    &:hover {
        box-shadow: none;
        opacity: 0.3;
    }
}
.color-garland.active {
    box-shadow: none;
    opacity: 0.3;
    // border: 1px solid black;
}

.btn-multicolor {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}
.btn-blue {
    background-color: #24e0ff;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3f8cff 0 2px 14px;
}
.btn-red {
    background-color: #dc143c;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgb(255 0 0 / 50%) 0 2px 12px;
    // box-shadow: -1px 2px 19px 9px rgba(220, 20, 60, 0.81);
}
.btn-yellow {
    background-color: #ff0;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #ff0 0 2px 12px;
}
.btn-green {
    background-color: #abff00;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}
//switch btn
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 8px;
}
.switch .checkbox {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.checkbox:checked + .slider {
    background-color: #24c5db;
}

.checkbox:focus + .slider {
    box-shadow: 0 0 1px #24c5db;
}

.checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
