@import "./_owfont-regular.scss";
/* Путь к файлу со шрифтом */

@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.en {
  background-image: url("/src/assets/img/en.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.ru {
  background-image: url("/src/assets/img/ru.png");
}
.player {
  width: 280px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;

  margin-bottom: 28px;
}
.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play_block {
  width: 120px;
}
.progress_block {
  position: relative;
  margin-top: 43px;
  width: 100%;
  span {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
  }
  .timeline {
    background-color: #fff;
    width: 100px;
    height: 10px;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    .progress_audio {
      background-color: rgb(108, 199, 108);
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 77px;
  }
  .volumeline {
    background-color: #fff;
    width: 55px;
    height: 10px;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    .progress_volume {
      background-color: rgb(108, 199, 108);
      width: 75%;
      height: 100%;
      transition: 0.25s;
    }
  }
}
.title {
  font-size: 24px;
  font-weight: 600;
}
// .play-list {
//   display: flex;
//   flex-wrap: wrap;
// }
.play-list,
.photo_list {
  text-align: left;
}
.photo_list {
  font-size: 20px;
  margin-top: 15px;
}
.play-item,
.photo_item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover,
.photo_item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}
.photo_item::before {
  content: "\2713";
  position: absolute;
  color: rgb(36, 35, 35);
  left: 0;
  top: 2px;
  font-weight: 900;
}
.item-active::before,
.photo_active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.translate_btn {
  background-color: rgba(255, 255, 255, 0.795);
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}
.volume {
  background-image: url("../assets/svg/volume.svg");
}
.mute {
  background-image: url("../assets/svg/mute.svg");
}
.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.weather-error,
.quote_warning {
  margin-top: -10px;
  color: rgb(243, 3, 3);
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
  opacity: 1;
  transition: 1s ease-in-out;
}

.author {
  min-height: 20px;
  transition: 1s ease-in-out;
}
.settings {
  background-image: url("/src/assets/svg/settings.svg");
  position: absolute;
  bottom: 0px;
  left: 20px;
  filter: invert(99%) sepia(90%) saturate(1%) hue-rotate(201deg)
    brightness(107%) contrast(99%);
}
.link {
  position: absolute;
  width: 72px;
  bottom: 0px;
  right: 45px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.menu_wrapper,
.link_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 10;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  opacity: 0;
  visibility: hidden;
}

.menu_wrapper.active,
.link_wrapper.active {
  opacity: 1;
  visibility: visible;
}

.menu_container,
.link_container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 5px;
  padding: 34px 12px;
  cursor: default;
  // overflow: scroll;
  color: rgb(44, 43, 43);
}
.menu_container {
  left: 62px;
  max-width: 245px;
  width: 100%;
  max-height: 435px;
  bottom: 14%;
  top: 14%;
  overflow: auto;
}
.link_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: 32px;
  max-width: 280px;
  width: 100%;
  max-height: 428px;
  bottom: 14%;
  top: 14%;
  font-size: 20px;
  overflow: hidden;
}
.new_links {
  max-height: 200px;
  overflow: auto;
}
.fix_link,
.new_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      text-decoration: none;
      color: black;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
      img {
        margin-right: 15px;
        width: 22px;
      }
    }
    .btn_edit {
      position: relative;
      background: url("/src/assets/img/edit.png") center/cover;
      opacity: 0.7;
      cursor: pointer;
      margin-left: 15px;
      width: 25px;
      height: 25px;
      transition: 0.4s;
      &:hover {
        opacity: 1;
      }
    }
    .select_btn {
      opacity: 0;
      position: absolute;
      right: 47px;
      width: 100px;
      height: 80px;
      background-color: #d6d4d4;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      z-index: 1;
      box-shadow: 0 2px 10px 0 #0008;
      transition: 0.4s ease-in-out;
      .edit,
      .delete {
        opacity: 0.6;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          opacity: 1;
        }
      }
    }
    .select_btn.active {
      opacity: 1;
    }
  }
}
.create_link {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: -150%;
  top: 0;
  max-width: 280px;
  width: 100%;
  max-height: 428px;
  bottom: 0;
  top: 0;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 5px;
  padding: 69px 12px 15px;
  overflow: auto;
  opacity: 0;
  transition: 0.4s ease-in-out;

  .close_btn {
    position: absolute;
    left: 20px;
    top: 20px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.5;
    transition: 0.4s;
    &:hover {
      opacity: 1;
    }
  }
  h4 {
    font-size: 28px;
    margin-top: 20px;
    text-transform: uppercase;
    opacity: 0.9;
  }
  input {
    margin-top: 15px;
    margin-top: 15px;
    width: 100%;
    height: 34px;
    font-size: 22px;
    padding: 0 10px;
  }
  .create_btn {
    margin-top: 40px;
    border: none;
    background: #6cc76c;
    border-radius: 20px;
    width: 140px;
    height: 44px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  .link_error,
  .name_error {
    color: rgb(252, 65, 65);
    font-size: 16px;
    margin-top: 5px;
  }
}
.create_link.active {
  opacity: 1;
  right: 0;
}
.tag_unsplash,
.tag_flickr {
  width: 95%;
  height: 28px;
  font-size: 18px;
  opacity: 0;
  margin: 5px 0 5px;
  padding: 0 5px;
  transition: 0.3s ease-in-out;
}
.tag_flickr_error,
.tag_unsplash_error {
  color: rgb(207, 66, 66);
}
.unsplash_collection {
  margin-top: 30px;
}
.unsplash_collection.photo_active ~ .tag_unsplash,
.flickr_collection.photo_active ~ .tag_flickr {
  opacity: 1;
}
.widget_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  height: 200px;
}
label {
  padding-left: 15px;
  cursor: pointer;
  opacity: 0.7;
  text-transform: capitalize;
  &:hover {
    opacity: 1;
  }
}
input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
input[type="checkbox"]:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.btn_new_link {
  border: none;
  background: none;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.979);
  padding: 15px 0 0;
}
.footer_icon {
  height: 36px;
  opacity: 0.5;

  margin-left: 15px;

  filter: invert(76%) sepia(24%) saturate(622%) hue-rotate(131deg)
    brightness(89%) contrast(102%);
  transition: 1s easy;
  &:hover {
    opacity: 1;
  }
}
.quote_widget {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.hidden {
  opacity: 0;
}
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
@media (max-width: 420px) {
  .time {
    min-height: 45px;
    font-size: 36px;
  }

  .greeting-container {
    min-height: 20px;
    font-size: 20px;
  }

  .greeting {
    padding: 3px;
  }

  .name {
    font-size: 20px;
    padding: 3px;
  }
  .play-list {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .weather-icon {
    font-size: 30px;
  }
}
